@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes move1 {
  from {
    transform: translate(0, 0) scale(1);
  }

  to {
    transform: translate(30vw, 20vh) scale(1.5);
  }
}

@keyframes move2 {
  from {
    transform: translate(0, 0) scale(1);
  }

  to {
    transform: translate(-25vw, -15vh) scale(0.8);
  }
}

@keyframes move3 {
  from {
    transform: translate(0, 0) scale(1);
  }

  to {
    transform: translate(20vw, -25vh) scale(1.2);
  }
}

@keyframes move4 {
  from {
    transform: translate(0, 0) scale(1);
  }

  to {
    transform: translate(-20vw, 15vh) scale(1.1);
  }
}

@layer utilities {
  .animate-move1 {
    animation: move1 15s infinite alternate;
  }

  .animate-move2 {
    animation: move2 18s infinite alternate;
  }

  .animate-move3 {
    animation: move3 12s infinite alternate;
  }

  .animate-move4 {
    animation: move4 20s infinite alternate;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes slideInLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes draw {
  from {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }

  to {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
  }
}
.animate-slideInLeft {
  animation: slideInLeft 0.25s ease-out forwards;
}
.animate-draw {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 2.5s ease forwards;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}